.menu_list{
    $self: &;
    margin-bottom: 30px;
    li{
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 12px;

        &:hover #{$self}_deleteIcon{
            opacity: 0.2;
        }
        #{$self}_deleteIcon{
            opacity: 0;
            &:hover{
                opacity: 0.7;
            }
        }
        &.active{
            background: #fff;
            box-shadow: 0px 2px 10px rgba(0,0,0, 0.04);
            border-radius: 4px;
        }

        span{
            flex: 1;
            text-overflow: ellipsis;
            overflow: hidden;  
            white-space: nowrap;
        }
        i{
           display: inline-flex;
           font-size: 18px; 
           margin-right: 10px;
           opacity: 0.6;
        }
        
    }
    &_addButton{
        color: #868686;
        transition: color .3s ease;
        &:hover{
            color: #000;
        }
    }

}