.tasks{
    
    &:not(:last-of-type){
        margin-bottom: 30px;
    }

    &_title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #64c4ed;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
        &:hover .rename{
            opacity: 0.8;
        }
        .rename{
            padding-left: 15px;
            color: rgb(151, 151, 151);
            opacity: 0.2;
            font-size: 20px;
            cursor: pointer;
            transition: .3s ease;

        }
    }
    &_items{
        margin-top: 30px;
        h2{
            z-index: -1;
            position: absolute;
            left: 50%;
            top: 50%;
           font-family: Montserrat;
           font-weight: bold;
           font-size: 22px;
           color: #c9d1d3;
           text-align: center;
        }
        &-row{
            $row: &;
            display: flex;
            align-items: center;
            &:hover &-actions{
                opacity: 1;
            }
            &-actions {
                display: flex;
                opacity: 0;
                transition: opacity 0.15s ease-in-out;
        
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    background-color: lighten(#f4f6f8, 2%);
                    border-radius: 6px;
                    margin-left: 5px;
                    cursor: pointer;
            
                    &:hover {
                        background-color: darken(#f4f6f8, 2%);
                        svg {
                        opacity: 0.9;
                        }
                    }
            
                    svg {
                        width: 11px;
                        height: 11px;
                        opacity: 0.4;
                    }
                }
            }
            p{
                padding-left: 10px;              
            }
            
           
        }
    }
    .checkbox{
        &:hover{
            label{
                transition: all .2s ease;
                background-color: #f2f2f2;
                border-color: #f2f2f2;
                svg{
                    opacity: 1;
                    color: #a5a2a2;
                }
            }
        }
        input{
            display: none;
        }
        label{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border:2px solid #bfc3c5;
            border-radius: 30px;
            width: 20px;
            height: 20px;
            svg{
                opacity: 0;
                font-size: 13px;
            }
        }
    }
        input:checked + label{
            background-color: rgb(109, 199, 97);
            border-color: rgb(109, 199, 97);

            svg{
                color: rgb(255, 255, 255);
                opacity: 1;
            }
            
    }
    .taskDone{
        background-color: rgb(109, 199, 97);
        border-color: rgb(109, 199, 97)!important;
    
        svg{
            color: rgb(255, 255, 255)!important;
            opacity: 1!important;
        }
    }
}

