
.todo{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 750px;
    height: 530px;
    transform: translate(-50%, -50%);
    border:1px solid #f1f1f1;
    box-shadow: 1px 2px 20px #f3f3f3;
    border-radius: 10px;
    font-size: 14px;

    &_sideBar{
        background-color: #f4f6f8;
        width: 200px;
        height: calc(100% - 120px);
        border-right: 1px solid #f1f1f1;
        padding: 60px 20px;
    }
    &_tasks{
        flex: 1;
        padding: 60px;
    }
}

.field{
    background-color: #fff;
    border:1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;
    
    &:focus{
        border-color:#dbdbdb ;
    }
    &.falseValue{
    border-color: #e01616;
        
    }
}

.button{
    font-size: 14px;
    background: #4dd599;
    color: #fff;
    border-radius: 4px;
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s ease;

        &:hover{
            background: darken(#4dd599, 6%);
        }
        &:active{
            background: darken(#4dd599, 10%);
        }
}